__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
venv/
env/
.DS_Store
*.pt
*.pth
*.ckpt
*.bin
checkpoints/
logs/
data/
Data/
dataset/
datasets/
*.zip
*.tar
*.tar.gz
drive/
content/
*.npz
*.npy
*.h5
