*.pth

__pycache__

training_logs/archive/*

src/moco/run_linear_test_proto/archive

src/moco/VIT_update_hybrid/archives
src/moco/VIT_baseline/archive

Jupyter_notebooks/update/run3_updateViT_architecture_12_03/archive
Jupyter_notebooks/template/*

